# Override defaults here

#
# ESP32-specific config
#
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_FLASHMODE_QIO=y

#
# Web Radio / Bluetooth Speaker
#

#
# Wifi Configuration
#
CONFIG_WIFI_SSID="wifi-12-private"
CONFIG_WIFI_PASSWORD="9263777101"
# end of Wifi Configuration

#
# Audio Output
#
CONFIG_AUDIO_OUTPUT_MODE_I2S=y
# CONFIG_AUDIO_OUTPUT_MODE_I2S_MERUS is not set
# CONFIG_AUDIO_OUTPUT_MODE_DAC_BUILT_IN is not set
# CONFIG_AUDIO_OUTPUT_MODE_PDM is not set
# CONFIG_AUDIO_OUTPUT_MODE_VS1053 is not set
# CONFIG_AUDIO_OUTPUT_MODE_SPDIF is not set
CONFIG_AUDIO_OUTPUT_MODE=0
# end of Audio Output
# end of Web Radio / Bluetooth Speaker